    </div> 
    <div data-theme="a" data-role="footer">
        <div data-role="navbar" data-iconpos="top" data-position="fixed">
            <ul>
                <li>
                    <a href="index.php" data-transition="fade" data-theme="" data-icon="home"
                    class="ui-btn-active">
                        Overview
                    </a>
                </li>
                <li>
                    <a href="sandline.php" data-transition="fade" data-theme="" data-icon="grid">
                        Sandline
                    </a>
                </li>
                <li>
                    <a href="rig-detail.php" data-transition="fade" data-theme="" data-icon="bars">
                        Rig Detail
                    </a>
                </li>
                <li>
                    <a href="engine.php" data-transition="fade" data-theme="" data-icon="alert">
                        Engine
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>